#banner {
width: 100%
} 

header {
    background: #cccccc;
    margin: 5px 0;
    position: relative
}
/* não é recomendado utilizar tags para se criar estilos, é prferível utilizar classes */
.principal {
    background: #cccccc;
    padding: 30px
}

h1 {
    display: inline-flex;
    font-size: 50px;
    position: absolute;
    top: 65px;
    left: 300px;
}
.titulo-principal {
padding-left: 20px
}

.titulo-centralizado {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: red
}

.itens {
    font-style: italic
}

.beneficios {
    background: #ffffff;
    padding: 20px
}

ul {
    display: inline-block; /* block é a característica de um elemento (texto) ocupar uma linha inteira // inline é uma característica que não permite alterar os espaçamentos externo e interno */ /* inline-block é a junção das duas características: o elemento bloqueia uma largura, mas é possível defini-la, como também os espaçamentos */
    vertical-align: top; /* alinhar para cima */
    width: 20%;
    margin-right: 15%
}

.imagembeneficios {
    width: 50%
}

/* a hierarquia das tags define onde o CSS modificará = estilo em cascata */
/* Alfabeto hexadecimal (0123456789ABCDEF) usado para descrever as cores, onde 0 é a ausência da cor e F é o máximo da cor. Para a marcação utiliza-se dois espaços para cada espectro de cor (RGB), logo 000000 é preto (ausência de todas as cores) e FFFFFF é branco (máximo de todas as cores). Além do alfabeto hexadecimal é possível colocar os nomes das cores e também utilizar o dicionário RGB que vai de 0 a 255. */
/* width: largura
    height: altura
    margin: espaço externo
    padding: espaço interno */
/* para marcar uma identificador (id) utilizamos #, para marcar uma classe utilizamos . */